* 
	outline: none

html, body, :root 
	margin: 0px
	padding: 0px
	font-size: 20px
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

body
	overflow-x: hidden
	display: flex
	flex-direction: column
	min-height: 100vh

main
	width: 100%	
	height: 100%
	flex-grow: 1
	overflow: hidden
	display: flex
	flex-direction: column
button
	padding: 0

h1,h2,h3,h4
	margin: 0

ul,li
	margin: 0
	padding: 0

// @media ( max-width: 1024px ) and (min-width: 769px)
// 	html, body, :root 
// 		font-size: 19px

// @media ( max-width: 768px ) and (min-width: 481px)
// 	html, body, :root 
// 		font-size: 18px

// @media ( max-width: 480px )
// 	html, body, :root 
// 		font-size: 1px
@mixin hover-supported
	@media not all and (pointer: coarse) 
		&:hover 
			@content
.content
	display: flex
	flex-direction: column
	overflow: hidden
	min-height: 100vh
.wrapper-content
	width: 100%
	height: auto
	flex-grow: 1	
	display: flex
	flex-direction: column
.container
	width: 100%
	height: inherit
	margin: 0 auto
	max-width: 1600px
	padding-left: 35px
	padding-right: 35px
	&__content
		width: 100%
		max-width: 1600px
		height: inherit
		margin: 0 auto
		padding-left: 35px
		padding-right: 35px
	&-body
		width: 100%
		height: 100%
		flex-grow: 1
		display: flex
		flex-direction: column

.mainTitle
	font-size: 2rem
	color: $darkColor
	font-weight: $bold
	font-family: $font-main
.sectionTitle
	font-size: 2rem
	color: $darkColor
	font-weight: $reg
	font-family: $font-main
.sectionSubTitle
	font-size: 1rem
	color: $secondaryColor
	font-weight: $reg
	font-family: $font-main
.text-center
	text-align: center	
.list
	&__info
		margin-top: 2.5rem
		margin-bottom: 1.5rem
		li
			list-style-type: none
			display: flex
			align-items: center
			margin-bottom: 1.5rem
			img
				width: 80px
				height: 80px
				margin-right: 1rem
			p
				font-size: 1rem
				font-family: $font-main
				font-weight: $reg
				color: $darkColor

@media screen and ( max-width: 768px )
	.container
		padding-left: 25px
		padding-right: 25px

	.container__content
		padding-left: 25px
		padding-right: 25px
@media screen and ( max-width: 480px )
	.container
		padding-left: 15px
		padding-right: 15px
	.container__content
		padding-left: 15px
		padding-right: 15px

.btn-light
	background-color: $lightColor
	border: none
	font-size: 1.5rem
	font-family: $font-main
	font-weight: $bold
	padding-left: 1.5rem
	padding-right: 1.5rem
	padding-top: .5rem
	padding-bottom: .5rem
	color: $darkColor
	transition: $interval
	border-radius: 10px
	@include hover-supported()
		color: $lightColor
		background-color: $darkColor
		cursor: pointer

@media screen and ( max-width: 480px )
	.btn-light
		font-size: 1rem
		padding-left: 1rem
		padding-right: 1rem
		padding-top: .4rem
		padding-bottom: .4rem



.popup
	display: none
	&--open
		display: flex
		position: fixed
		z-index: 20
		width: 100vw
		top: 0
		left: 0
		height: calc(var(--defvh, 1vh) * 100 * (1))
		background-color:  rgba(0,0,0,.9)
		cursor: default
		overflow: hidden auto
		animation-name: fading
		animation-duration: $interval
		animation-fill-mode: forwards
		animation-timing-function: ease-out
	&__content
		width: 100%
	&__wrapper
		display: flex

		flex-direction: column
	&__header
		display: flex
		justify-content: flex-end
		height: auto
		padding-bottom: 1rem
	&__close
		border: none
		background-color: transparent
		display: flex
		height: 100%
		font-size: .9rem
		font-family: $font-main
		color: $lightColor
		cursor: pointer
		align-items: center
		justify-content: flex-end
		transition: $interval all
		padding-top: 50px
		line-height: 1
		.icon__close--dark
			fill: $lightColor
		@include hover-supported()
			color: $neutralColor
			.icon__close--dark
				fill: $neutralColor
		svg
			width: 15px
			height: 15px
			margin-left: 10px
	&__content
		height: inherit
		display: flex
		flex-direction: column
	&__body
		height: calc(100% - 75px)
		flex-grow: 1
		height: auto
		display: flex
		justify-content: center
		align-items: center
	&__img
		display: flex
		justify-content: center
		align-items: center
		max-width: 750px
		animation-name: showup
		animation-duration: $interval
		animation-fill-mode: forwards
		animation-timing-function: linear
		picture
			width: 100%
			img
				width: inherit
@keyframes showup
	from
		opacity: 0
		transform: perspective(600px) translate(0px,-100%) rotateX(45deg)
	to
		opacity: 1
		transform: perspective(600px) translateY(0%) rotateX(0deg)
@keyframes fading
	from
		opacity: 0
	to
		opacity: 1
@media (max-width: 991px) and (orientation: landscape)
	.popup
		&__body
			height: auto
			padding-top: 1rem
			padding-bottom: 1rem
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.popup
		&--open
			height: 100%


.btn__primary
	background-color: $lightColor
	color: $darkColor
	font-family: $font-main
	font-size: 1rem
	font-weight: $bold !important
	transition: $interval
	@include hover-supported()
		color: $lightColor
		cursor: pointer
		background-color: $secondaryColor
		border: 1px solid $secondaryColor