.feedback
	background-color: $lightColor
	padding: 2rem 2rem
	border-radius: 10px
	&__title
		text-align: center
		font-size: 1.5rem
		font-family: $font-main
		font-weight: $reg
		color: $darkColor
		margin-bottom: 1rem
	input
		width: 100%
		border-radius: 10px
		padding: .5rem 1rem
		font-size: 1rem
		font-family: $font-main
		font-weight: $reg
		color: $darkColor
		margin-bottom: .5rem
		border: 1px solid $darkColor


.text__primary
	font-size: .7rem
	font-family: $font-main
	font-weight: $reg
	color: $darkColor



.form-label-checkbox
	margin-top: 1rem
	margin-bottom: 1rem
	text-align: left
	font-size: .9rem
	cursor: pointer
	p
		margin: 0

		
[class="form-input-checkbox"]:not(:checked),
[class="form-input-checkbox"]:checked 
	opacity: 0
	position: absolute


[class="form-input-checkbox"]:not(:checked) + label,
[class="form-input-checkbox"]:checked + label 
	position: relative
	display: flex
	align-items: center
input[type="submit"]
	width: auto
	margin: 0 auto
input[type="submit"]:disabled
	cursor: not-allowed
	opacity: .7
	

/* checkbox aspect */
[class="form-input-checkbox"]:not(:checked) + label:before,
[class="form-input-checkbox"]:checked + label:before 
	content: ''
	width: 30px
	min-width: 30px
	height: 30px
	margin-right: 12px
	border: 1px solid $darkColor
	background: $lightColor
	border-radius: 10px

/* checked mark aspect */
[class="form-input-checkbox"]:not(:checked) + label:after,
[class="form-input-checkbox"]:checked + label:after 
	content: '\2714'
	position: absolute
	left: 6px
	font-size: 25px
	line-height: 1
	color: $darkColor
	transition: all .2s
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	[class="form-input-checkbox"]:not(:checked) + label:after,
	[class="form-input-checkbox"]:checked + label:after 
		content: '\2714'
		position: absolute
		top: 2px
		left: 6px
		font-size: 25px
		line-height: 1
		color: $darkColor
		transition: all .2s
/* checked mark aspect changes */
[class="form-input-checkbox"]:not(:checked) + label:after 
	opacity: 0
	transform: scale(0)

[class="form-input-checkbox"]:checked + label:after 
	opacity: 1
	transform: scale(1)

.position--center
	display: flex
	justify-content: center

@media (max-width: 480px)
	.feedback
		background-color: $lightColor
		padding: 2rem 1rem
		border-radius: 10px
		&__title
			text-align: center
			font-size: 1rem
			font-family: $font-main
			font-weight: $reg
			color: $darkColor
			margin-bottom: 1rem
		input
			width: 100%
			border-radius: 10px
			padding: .5rem 1rem
			font-size: .9rem
			font-family: $font-main
			font-weight: $reg
			color: $darkColor
			margin-bottom: .5rem
			border: 1px solid $darkColor
	.form-label-checkbox
		font-size: .8rem
