@mixin hover-supported
	@media not all and (pointer: coarse) 
		&:hover 
			@content
.main-menu
	background-color: $primaryColor
	padding-top: 1rem
	padding-bottom: 1rem

header
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 10
	transition: all .7s ease
	&.out
		transform: translateY(-100%)
.menu
	width: 100%
	height: auto
	display: flex
	justify-content: space-between
	position: sticky
	top: 0
	&__header
		display: flex
		height: 100%
		padding-top: 0.2rem
		padding-bottom: 0.2rem
		&-mobile
			display: none
	&__footer
		&-mobile
			display: none
	&-btn__wrapper
		background-color: transparent
		border: none
		display: none
		transition: 0.6s all
		color: $lightColor
		width: 100%
		height: inherit
		flex-grow: 1
		justify-content: flex-end
		align-items: center
	&__fullScreen
		display: none
	&__btn-bars
		background-color: transparent
		border: none
		display: none
		transition: 0.6s all
		color: $darkColor
		i
			font-size: 20px
		&:hover
			color: $neutralColor
		&:not(:hover)
			transition: 0.6s all
		&_delete
			display: none
	&__logo
		height: auto
		display: flex
		padding-top: 5px
		padding-bottom: 5px
		img
			align-items: center
			width: 200px
			height: 100%
	&__wrapper
		display: flex
		flex-wrap: nowrap
		flex-grow: 1
		justify-content: flex-end
		z-index: 2
	.menu__body-mobile
		display: flex
		flex-wrap: nowrap
		flex-grow: 1
		justify-content: flex-end
		z-index: 2
	&__list
		display: flex
		flex-wrap: nowrap
		flex-grow: 1
		justify-content: center
		z-index: 2
	
	&__item
		display: block		
		display: flex	 
		list-style-type: none
		align-items: center
		a
			padding: 0 1rem
			height: 100%
			display: flex
			align-items: center
			text-decoration: none			 
			font-family: $font-main
			font-size: 1rem
			letter-spacing: 1px
			color: $darkColor	
			transition: $interval
			i
				margin-right: 1rem
				&.fa-phone
					transform: scale(-1, 1)
			@include hover-supported()
				color: $neutralColor
	&__close
		width: 30px
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		transition: 0.6s all
		cursor: pointer
		float: right
		border: none
		background: none
		&:hover i
			transition: 0.8s
			color: $secondaryColor	
		&:not(:hover) i
			transition: 0.8s
		svg
			width: 30px
			height: auto	
		img
			max-width: 30px
			
		i
			font-size: 5em
			color: $lightColor
@media (max-width: 1024px)
	.menu
		&__logo
			img
				width: 200px
		&__header
			&-mobile
				display: flex
				width: 100%
				height: $heightMenu
		&__footer
			&-mobile
				min-height: 50px
				display: flex
				position: relative
				&::after
					content: ''
					width: 60%
					height: 2px
					left: 50%
					top: -2px
					transform: translateX(-50%)
					position: absolute
					background-color: $darkColor
				.menu__footer
					&__list
						width: 100%
						display: flex
						justify-content: space-around
						list-style-type: none
						padding-top: 1rem
						padding-bottom: 1rem
					&__item
						a
							text-decoration: none
							color: $lightColor
							transition: $interval
							@include hover-supported()
								color: $primaryColor
							i
								font-size: 1.5rem
								
		&__wrapper
			display: none
		&__fullScreen
			position: fixed
			display: none
			flex-direction: column 
			justify-content: center
			width: 100vw
			height: 100%
			min-height: 100vh
			position: fixed
			top: -100%
			background-color: $lightColor
			flex-grow: 1
			overflow: hidden
			&_active
				animation-name: fade-down
				animation-duration: 1s
				animation-fill-mode: forwards
			&_close
				animation-name: fade-up
				animation-duration: 1s
				animation-fill-mode: forwards
			.menu__body-mobile
				flex-grow: 1
				overflow: auto
		&__list
			flex-direction: column
			justify-content: flex-start
			align-items: center
		&-btn__wrapper
			width: 100%
			height: inherit
			display: flex
			flex-grow: 1
			justify-content: flex-end
			align-items: center
		&__btn-bars
			display: block		
		&__logo
			img
				width: 250px

		&__item
			display: flex
			justify-content: center
			list-style-type: none
			border-right: none
			width: 100%
			a
				color: $darkColor
				justify-content: center
				padding-right: 1rem
				padding-left: 1rem
				width: 100% 
				text-align: center
				line-height: 3.5
				text-transform: uppercase
				i
					margin-right: 1rem
				&:hover
					background-color: $secondaryColor
					color: $darkColor

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.menu
		height: $heightMenu
@media (max-width: 1220px) and (min-width: 1101px)
	.menu__item
		a
			font-size: .85rem
@media (max-width: 1100px) and (min-width: 1025px)
	.menu__item
		a
			font-size: .72rem

@keyframes fade-down
	from
		display: none
		top: -100%
	to
		display: flex
		top: 0

@keyframes fade-up
	from
		display: flex
		top: 0
	to
		top: -100%
		display: none !important