.advantages, .skills
	padding-top: 2rem
	&__title
		margin-bottom: 2rem
	&__item
		display: flex
		flex-direction: column
		&_title
			text-transform: uppercase
			color: $darkColor
			font-family: $font-main
			font-size: 1rem
			position: relative
			text-align: center
			padding-bottom: 1rem
			margin-bottom: 1rem
			&::after
				content: ""
				position: absolute
				width: 100%
				height: 2px
				bottom: 0
				left: 0
				background-color: $secondaryColor
		&_list
			display: flex
			flex-direction: column
			li
				list-style-type: none
				font-size: 1rem
				font-family: $font-main
				color: $darkColor
				text-align: center
				margin-bottom: .3rem 

.skills
	&__subTitle
		margin-bottom:4rem
	&__item
		align-items: center
		justify-content: flex-start
		&_img
			max-width: 150px
			height: 150px
			margin-bottom: 3.5rem
			display: flex
			justify-content: center
			align-items: center
			img
				width: 100%
		&_text
			text-align: center
			font-family: $font-main
			font-size: 1rem
				