.title-screen
	background-color: $primaryColor
	margin-top: var(--defvhmenu, 1vh)
	padding-top: 2rem
	&__wrapper
		width: 100%
		height: inherit
		z-index: 2
	&__content
		height: inherit
		position: relative
		padding-bottom: 4rem
		&::before
			content: ""
			position: absolute
			width: 100%
			height: 100%
			background-image: url(../img/1_kartinka_v_banner.png)
			background-size: contain
			background-position: right bottom
			background-repeat: no-repeat
			opacity: 1
			z-index: 0

@media (max-width: 768px)
	.title-screen
		&__content
			&::before
				opacity: .6
